.batton {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 125px;
    padding-right: 125px;
}
.card {
    padding-right: 0;
    padding-left: 0;
    &:nth-child(1){
        margin-left: 11px;
    }
}
.page-link:hover {
    background-color: #0D6EFD;
    color: #ffffff;
}
.buttons {
    margin-bottom: 20px;
}